~$*
__pycache__/
scheno/*.o
scheno/*.a
nt_wrappers/*
nt_wrappers/nauty27r4/*
nt_wrappers/nauty27r4_modified/*
nt_wrappers/nauty27r4_modified/nauty.h
executables/*
scheno/Jonker_Volgenant/src/*.o
*.o
*.a
*.ods
*.csv
test_nt_code
minimal_nt_example
experiments/plotting_code/structure_graph*
documentation/LaTeX
third_party/crossspot/nodes.txt
third_party/crossspot/prepared.csv
third_party/crossspot/line_graph.csv
third_party/crossspot/chosen_edges.txt
third_party/crossspot/no_edges.txt
third_party/crossspot/results/*
third_party/VoG/results/*.txt
third_party/VoG/*.model
third_party/VoG/*.txt
third_party/VoG/DATA/*.model
third_party/VoG/DATA/*.txt
third_party/C_SUBDUE/bin/*
third_party/C_SUBDUE/testing/*.txt
third_party/GraMi
