~$*
__pycache__/
nauty27r4/*
nauty27r4_modified/*
executables/*
*.ods
*.csv
experiments/plotting_code/structure_graph*
crossspot_code/nodes.txt
crossspot_code/prepared.csv
crossspot_code/line_graph.csv
crossspot_code/chosen_edges.txt
crossspot_code/no_edges.txt
crossspot_code/results/*
